---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Raleway:400,900);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;
$break-small: 768px;
$break-large: 1200px;





// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
*{
  margin: 0;
  padding: 0;
}

html,body {
  font-family: 'Raleway', sans-serif;
  background-color: #FFFFFF;
}
.wrapper{
  font-family: 'Open Sans', sans-serif;
  width: 80%;
  margin: 0 auto;
  // margin-top: 50px;
  background-color: #FFFFFF;
}

.main-section{
  background-color: #3E3E3E;
}

.personal-info{
  padding-top: 25px;
  color: #FAF9E5;
  font-weight: bold;
  font-size: 4em;
  width: 90%;
  margin: 0 auto;
  min-height:100%;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);

 h1{
    padding-left: 10px;
    font-weight: 600;
    background-color: #327563;

    -webkit-box-shadow: 10px 10px 0px 0px rgba(50, 117, 99, 0.22);
    -moz-box-shadow: 10px 10px 0px 0px rgba(50, 117, 99, 0.22);
    box-shadow: 10px 10px 0px 0px rgba(50, 117, 99, 0.22);
    @media screen and (max-width: $break-small) {
     font-size: 0.5em;
     }
     @media screen and (min-width: $break-large) {
      font-size: 1.3em;
     }

  }
}

.list-inline{
  list-style: none;
  display: inline-block;
  width: auto;
  margin: 0;
}

.list-item-inline{
  display: inline-block;
  margin-right: 15px;
}
.site-links{
  /* margin-top: 100px; */
  text-align: center;
 a{
  color: #ffffff;
}
}
.nav{
  width: 100%;
}

.social-links {
  margin: 0;
  text-align: center;
    a {
    font-size: 1em;
    color: #212121;
    }
}

.nav-bottom{
    margin-left: auto;
}

.align-left{
  text-align: left;
}

.align-right{
  text-align: right;
}

.post-title{
  text-align: center;
  font-weight: bold;
}

.social-links #contact-facebook{
  color: #3b5998;
}

.social-links #contact-twitter{
  color: #4099FF;
}
.social-links #contact-email{
  color: #E66760;
}
.social-links #contact-instagram{
  color: #517fa4;
}
.social-links #contact-linkedin{
  color: #007bb6;
}
.social-links #contact-soundcloud{
  color: #ff7700;
}
.social-links #contact-github{
  color: black;
}
.social-links #contact-codepen{
  color: white;
}

.home{
  margin: 0 auto;
  width: 100%;
}

.link-header .post-link{
  color: white;
  background-color: #327563;
  padding: 10px;
}

.project{
  padding: 20px 0px;
  width: 100%;
  border-bottom: 4px dashed black;
}

.project img{
  display:block;
  margin:auto;
}

.header-project{
  color: white;
  background-color: #3E3E3E;
  text-align: center;
}
